* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./imgs/paperBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .instructions {
        width: 70%;
        text-align: center;
        font-size: 28px;

        button {
            padding: 5px;
            border-radius: 15px;
        }
    }

    button {
        background-color: #ACB4B7;
        border: #8D8583 3px double;
        font-weight: bolder;
        font-size: 21px;

        &:hover {
            background-color: #61646B;
            border: #74828B 3px double;
            color: white;
        }

        &:focus{
            outline: none;
        }
    }

    .top {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        article {
            width: 50%;
            justify-content: center;
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                display: none;
                font-size: 38px;                
            }
        }

        #imageContainer {

            min-width: 400px;
            min-height: 400px ;
        }
    }

    .center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        min-height: 100px;

        h2 {
            font-size: 32px;
        }

        input {
            height: 60px;
            width: 200px;
            font-size: 24px;
            border-radius: 10px;
            background-color: #ACB4B7;
            border: #8D8583 3px double;
            font-weight: bolder;    

            &:focus {
                outline: none;
            }
        }

        button {
            padding: 15px;
        }
    }

    .bottom {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 60%;
        gap: 20px;
        flex-wrap: wrap;

        button {
            width: 40px;
            height: 40px;
            border-radius: 30%;
        }
    }

    .gameOver {
        display: none;
        z-index: 1;
        background: radial-gradient(rgba(0, 0, 0, 0.5), (rgba(0, 0, 0, 0.5)));
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;

        div {
            background-image: url('./imgs/paperBG.jpg');
            height: 300px;
            width: 600px;
            border: 5px double black;
            background-color: lightgray;
            margin: 15% auto;
            text-align: center;
            font-size: 24px;
            padding: 30px;

            button {
                margin-top: 30px;
                padding: 15px;
                border-radius: 20px;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    main {
        .top {
            justify-content: center;

            article {
                width: fit-content;
                margin-top: 50px;
                height: fit-content;
                flex-wrap: wrap;
                justify-self: center;
                align-items: center;
                gap: 10px;
            }

            #imageContainer {
                min-width: 200px;
                min-height: 200px;
                img{
                    height: 200px;
                    width: 200px;
                }
            }
        }

        .center {
            flex-direction: column;
            gap: 20px;
        }

        .bottom {
            width: 100%;
        }
    }
}